html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #FAF7F4;
    font-family: SF_Pro_Text;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: black;
    text-decoration: none;
}

.Menu {
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: flex-start;
    gap: 24.75px;
    align-items: center;
}

.listaEnlace {
    display: flex;
    gap: 10px;
}

.menu {
    display: none;
}

.descuento {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9ECEF;
    height: 50px;
}

.comprarTexto {
    color: blue;
}

.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
    margin-bottom: 300px;
}

.producto {
    height: 422px;
    width: 422px;
}

.info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-items: center;
}

.coste {
    font-weight: 600;
}

.comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0071E3;
    border-style: none;
    color: white;
    padding: 9px 16px;
    border-radius: 980px;
    width: 90px;
}

@media screen and (max-width:770px) {
    
    .Menu {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .descuento {
        width: 100%;
        display: flex;
        text-align: center;
    }

    .descuento p {
        width: 75%;
    }

    .imagen {
        width: 250px;
        height: 250px;
    }

    .producto {
        width: 250px;
        height: 250px;
    }

    .diseño {
        width: 250px;
    }

    .intelligence {
        width: 260px;
    }
}

@font-face {
    font-family: SF_Pro_Text;
    src: url(./assets/fonts/SF_Pro_Text.ttf);
}